@font-face {
  font-family: fontnew;
  src: url(Metropolis-Regular.otf);
}
@font-face {
  font-family: fontnew2;
  src: url(BAHNSCHRIFT.TTF);
}
h5 {
  font-family: fontnew;
  letter-spacing: 26px;
  color: aliceblue;
  padding-top: 80px;
}
h1 {
  font-family: fontnew2;
  color: aliceblue;
}
canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
}
img#top-image {
  width: 350px;
  height: auto;
  /* position: absolute; */
  top: 0;
}

#btn-join {
  background: #ff147a;
  border: none;
  border-radius: 10px 10px;
  font-size: 20pt;
  margin-top: 30px;
}
